.bg-warm{
    background-image: url(./img/44117.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 700ms;
}
.bg-cold{
    background-image: url(./img/1019_Cold_Weather_Joint_Pain_Logo-1024x671.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 700ms;
}